.cart{
    background-color: #f89ee9fb;
    text-align: center;
    margin: 20px;
    padding: 50px;
    border-radius: 2em;
    /* height: 3em; */
    
}

.delete{
    /* background-color: fuchsia; */
    padding: 0.2em 2em;
    margin:1em 1em ;
    border-radius: 5em;
}

.count{
    background-color: rgb(241, 182, 241);
    color: indigo;
    border: 0.5px solid purple;
    border-radius: 250%;
    padding:0 0.5em;
    margin:2px 5px;
}