


.product {
    padding: 1em;
    margin: 1em;
    max-width: 25%;
    background: #f5e9f7;
    border: 1px solid #2196f3;
    border-radius: 6%;
}

.product img {
    width: 75%;
    margin: 0;
    /* border: 0.5px solid darkorchid; */
    /* border-radius: 0.5px; */
}

.price {
    color: blue;
    /* padding: 0.1em; */
}
.title{
    font-family: 'vazir';
    color: blueviolet;
    
    font-weight: 100px;
    padding-top: 0.2em;
    margin: 0.5em;
}
.button{
    border-radius: 0.5em;
}